/* 1 Position 
| 2 Box model 
| 3 Tipogrphy 
| 4 Visual 
| 5 other */

/* Basic Styles-------------------- */
:root {
  /* Colors  */
  --wolox-green: #9fc739;
  --wolox-blue: #00a7e8;
  --light-grey: #f2f5fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Montserrat', sans-serif;
}
.app {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Navbar Styles-------------------- */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-image: url('../img/Backgrounds/Bg_Header.png');
}
.navbar--img {
  width: 150px;
  margin: 3rem;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5rem;
}
.navbar-items--item {
  padding-right: 10px;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.navbar-items--button {
  padding: 10px 45px;
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  color: var(--wolox-blue);
  border: 1px solid var(--wolox-blue);
  transition: background-color 0.5s;
}
.navbar-items--button:hover {
  background-color: var(--wolox-blue);
  color: white;
}

/* Welcome Section Styles--------------------  */
.welcome {
  justify-content: space-evenly;
  width: 100%;
  background-image: url('../img/Backgrounds/Bg_Header.png');
}
.welcome--img {
  width: 350px;
  height: 350px;
  padding-right: 20px;
}
.welcome-title--light {
  margin: auto 50px;
  text-align: left;
  font-weight: 400;
  font-size: 40px;
}
.welcome-title--bold {
  font-weight: bold;
}
.welcome-title--brand {
  font-weight: bold;
  color: var(--wolox-green);
}

/* Woloxers Section Styles-------------------- */
.woloxers {
  height: 100%;
  background-color: var(--light-grey);
}
.woloxers-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 500px;
  background-image: url('../img/img_woloxer@3x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.woloxers-img h3 {
  font-size: 4rem;
  color: var(--wolox-green);
}
.woloxers-img span {
  font-size: 4rem;
  color: var(--wolox-blue);
}
.twitter-img {
  width: 50px;
  height: 50px;
  margin: 40px auto;
}
.woloxers-twitter {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.woloxers-twitter span {
  margin-left: 15px;
  font-size: 18px;
  color: white;
}
.woloxers-img a {
  padding: 12px 60px;
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border-radius: 25px;
  color: white;
  border: 1px solid var(--wolox-blue);
  transition: background-color 0.5s;
}
.woloxers-img a:hover {
  background-color: white;
  color: var(--wolox-blue);
}
/* Woloxers right section Styles--------------------  */
.woloxers-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 500px;
  padding: 0 2rem;
}
.woloxers-right h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
.woloxers-right span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--wolox-blue);
}
.woloxers-right #span2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--wolox-green);
}

/* Beneficts Section Styles--------------------   */
.beneficts {
  height: 500px;
  margin-top: 3rem;
}
.beneficts-title {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 3rem;
}
.face {
  height: 500px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--wolox-blue);
}
.beneficts-items--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.beneficts-items {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
}
.beneficts-items p {
  margin-top: 1.5rem;
}

/* Footer Section Styles--------------------    */
.footer {
  height: 500px;
  background-image: url('../img/Backgrounds/Bg_Footer.png');
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content h3 {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.footer-content h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.footer-content span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--wolox-blue);
}
.footer a {
  padding: 12px 40px;
  margin: 30px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--wolox-blue);
  border-radius: 25px;
  color: white;
  border: 1px solid var(--wolox-blue);
  transition: background-color 0.5s;
}
.footer a:hover {
  background-color: transparent;
  color: var(--wolox-blue);
}
.logo-footer {
  width: 90px;
  margin-top: 3rem;
}

/* Register Section Styles--------------------     */
.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url('../img/Backgrounds/Bg_Footer.png');
  background-size: cover;
  background-repeat: repeat;
}
.register h3 {
  font-size: 40px;
  margin: 3rem;
  color: var(--wolox-blue);
}
.register-form {
  display: flex;
  flex-wrap: wrap;
  /* width: 500px; */
}
.register-form div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  align-items: flex-start;
  width: 500px;
}
.register-form label {
  font-size: 25px;
  font-weight: 400;
}
.register-form input {
  width: 500px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.return {
  padding: 12px 55px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  color: var(--wolox-blue);
  border: 1px solid var(--wolox-blue);
  transition: background-color 0.5s;
}
.return:hover {
  background-color: var(--wolox-blue);
  color: white;
}
.send {
  padding: 12px 55px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  color: var(--wolox-green);
  border: 1px solid var(--wolox-green);
  transition: background-color 0.5s;
}
.send:hover {
  background-color: var(--wolox-green);
  color: white;
}
.techCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: var(--light-grey);
  border: 1px solid var(--wolox-blue);
  border-radius: 5px;
}
.techCard img {
  height: 50px;
}
.techCard h3 {
  padding: 4px;
}
.techCard h4 {
  padding: 4px;
}
.techCard p {
  padding: 2px;
}
.techList--list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.techList {
  background-image: url('../img/Backgrounds/Bg_Footer@2x.png');
  background-size: cover;
  background-repeat: repeat;
}
